@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Raleway:wght@200;500;700;900&family=Roboto+Mono:wght@400;500;700&family=Rubik:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 6.5vw;
    width: 100%;
    background-color: #feff03;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.header h1{
    font-size: 4.5vw;
    color: #677c2d;
    text-shadow: 0.5vw 0.5vw 0.5vw #67331d;
    font-family: 'Raleway';
}
.main{
    padding-top: 6.5vw;
    width: 100%;
    background-color: #1b0545;
}
.intro{
    height: 20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.5vw dotted #c2dfc1;
    color: whitesmoke;
}
.intro h2{
    text-align: center;
    width: 20%;
    padding: 1%;
    border-right: 0.2vw dashed  #c8d5ff;
    font-size: 3.5vw;
    font-family: 'Rubik';
    font-weight: 400;
}
.intro p{
    width: 70%;
    font-size: 2.5vw;
    font-family: 'Rubik';
    font-weight: 300;
    text-align: justify;
}
.simbols{
    padding-top: 4vw;
    height: 125vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.simbol{
    height: 22vw;
    width: 47%;
    border: 0.5vw double #fed403;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #c8d5ff;
}
.text{
    width: 50%;
    font-family: 'Lato';
}
.text h2{
    font-size: 2.8vw;
    text-align: center;
}
.text p{
    text-align:justify;
    font-size: 1.7vw;
}
.eye{
    height: 60%;
}
.sema{
    height: 60%;
}
.scarab{
    height: 60%;
}
.snake{
    height: 60%;
}
.ankh{
    height: 80%;
}
.feather{
    height: 50%;
}
.djed{
    height: 80%;
}
.tyet{
    height: 70%;
}
.tauret{
    height: 70%;
}
.bes{
    height: 70%;
}
.footer{
    width: 100%;
    height: 7vw;
    background-color: #feff03;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 2.5vw;
    color: #677c2d;
}
.footer a{
    text-decoration: none;
    color: #67331d;
}

@media (max-width: 526px) {
    .header{
        height: 8.5vw;
    }
    
    .header h1{
        font-size: 5.8vw;
        text-shadow: 0.5vw 0.5vw 0.5vw #67331d;
    }
    .main{
        padding-top: 8.5vw;
    }
    .intro{
        height: 29vw;
        flex-direction: column;
        border-bottom: 0.5vw dotted #c2dfc1;
        padding-bottom: 2vw;
    }
    .intro h2{
        text-align: left;
        width: 90%;
        border: none;
        border-bottom: 0.1vw dashed #c8d5ff;
        font-size: 5vw;
    }
    .intro p{
        width: 80%;
        font-size: 3vw;
    }
    .simbols{
        padding-top: 2vw;
        padding-bottom: 3vw;
        height: 333vw;
    }
    .simbol{
        margin-top: 4vw;
        height: 28vw;
        width: 80%;
        border: 1vw double #fed403;
    }
    .text{
        width: 55%;
    }
    .text h2{
        font-size: 4vw;
    }
    .text p{
        font-size: 2.4vw;
    }
    .footer{
        height: 10vw;
        font-size: 3vw;
    }
    .footer p{
        width: 80%;
        text-align: center;
    }
}